
.header-content {
    background-color: #88e2f2;
    overflow:hidden;
}


ul li {
    display: inline-block;
}

.logo {
    height: 80px;
}

.left-nav {
    float: left;
    margin-left:115px;
}

.background-field {
    height: 20px;
    margin-bottom: 25px;
    width: 400px;
}
.background-btn {
    height: 20px;
    margin-bottom: 25px;
    width: 60px;
}
.field-text {
    position: absolute;
    top: 38px;
    left: 422px;
    width: 315px;
    opacity: 0.5;
}

.btn-text {
    position: absolute;
    top: 38px;
    left: 825px;
    color: white;
}

.right-nav {
    float: right;
    margin-top: 22px;
    margin-right: 130px;
}

.right-nav h4 {
    text-align: right;
}

.sub-nav {
    background-color: #f2f2f2;
    height: 30px;
}

.right-sub-nav {
    margin-left: 115px;
    float: left;
}

.right-sub-nav ul li {
    margin-top: -8px;
    padding: 15px ;
    cursor: pointer;
}


.left-sub-nav {
    margin-right: 115px;
    float: right;
}

.left-sub-nav ul li {
    margin-top: -8px;
    padding: 15px ;
    cursor: pointer;
}




.foo-nav {
    margin-top: 760px;
    height: 40px;
    background-color: grey;
}

.foo-left {
    margin-left: 125px;
    margin-top: 10px;
    float: left;
}

.foo-left ul li {
    padding: 0 10px;
}

.foo-left ul li a, .foo-right {
    color: #ffffff;
}

.foo-right {
    float: right;
    margin-right: 105px;
    margin-top: 10px;
    padding: 0 10px;
}

.search-icon {
    margin-left: 10px;
}

.friend-requests {
    margin-left: 10px;
}

.friend-requests i {
    opacity: 0.5;
}

.search-box {
    position: absolute;
    top: 38px;
    left: 420px;
    width: 332px;
    border: none;
    background-color: rgb(202, 239, 247);
}

.user-name {
    font-size: 22px;
}

.friend-request {
    opacity: 0.5;
}

.user-logo, .invite-icon {
    height: 12px;
}