* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}


.main-content-wrapper {
    width: 1420px;
}

a {
    text-decoration: none;
    color: #000000;
}