.main-section {
    margin: 30px 100px 0 130px;
}

.searches-entries {
    float:left;
}

.searches {
    width: 250px;
    height: 670px;
    background-color: #f2f2f2;
    float: left;
}

.searches ul li {
    display: inline-block;
    width: 230px;
    padding: 10px;
    cursor: pointer;
}

.searches ul li a {
    width: 250px;
}
.searches ul li:hover {
    background-color: white;

}

.searches .recent-search1 {
    font-size: 20px;
    background-color:#34c1da ;
    height: 30px;
    color: #ffffff;
    padding: 10px;
    
}



.title-background {
    width: 200px;
}

.searches .recent-search2 {
    font-size: 20px;
    background-color:#34c1da ;
    height: 30px;
    color: #ffffff;
    padding: 10px;
}

.entries {
    float: right;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-right: 50px;
}

.entries h1 {
    font-size: x-large;
}

.all-entries {
    background-color: #f2f2f2;
    width: 280px;
    text-align: center;
    padding-top: 8px;
}

.entries-subscribed {
    text-align: center;
    width: 280px;
    background-color: #f2f2f2;
    padding-top: 8px;
}

.all-members {
    background-image: url('../images/tab-bg-active.png');
    padding: 5px;
    width: 100px;


}

.all-members a {
    color: #ffffff;
}

.friends, .new-entries, .new-comments, .all-members {
    cursor: pointer;
}



.friends {
    background-image: url('../images/tab-bg.png');
    padding: 5px;
    width: 100px;
}

.new-entries {
    background-image: url('../images/tab-bg.png');
    padding: 5px;
    width: 100px;
}

.new-comments {
    background-image: url('../images/tab-bg.png');
    width: 100px;
    padding: 5px;
    text-align: left;

}

.new-entries:hover, .new-comments:hover, .friends:hover, .all-members:hover {
    background-image: url('../images/tab-bg-active.png');

}

.timeline {
    margin-top: 10px;
}

.entries-list {
    margin-top: 5px;
}

.avatar {
    width: 100px;
}
.avatar img {
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

.info {
    margin-left: 100px;
    margin-top: -85px;
}

.entries-break {
    margin-top: 40px;
}

.video-tutorials {
    float: right;
    width: 250px;
    height: 670px;
    background-color: #f2f2f2;
    margin-right: 26px;

}

.video-tutorials .video-tutorial-title {
    font-size: 20px;
    background-color:#34c1da ;
    height: 30px;
    color: #ffffff;
    padding: 10px;
   

}


.video-tutorials ul li {
    width: 250px;
    padding: 15px;
    cursor: pointer;
}


.video-tutorials ul li:hover {
    background-color: #ffffff;
}

.fa {
    margin-left: 220px;
}

.title {
    font-weight: bold;
    padding-bottom: 5px;;
}

.author, .topic-box {
    color: #1fd3f3;
    text-decoration: none;
}

.subscribed {
    color: green;
}

.new-action {
    color: #1fd3f3;
    font-weight: bold;
}

.title-danger {
    color: red;
    font-weight: bold;
}

i {
    opacity: 0.5;
}

.side-icon {
    float: right;
}

.invite {
    margin-left: -20px;
}