* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}


main {
    margin: 30px 100px 0 130px;
}

.searches-entries {
    float:left;
}

.searches {
    width: 300px;
    height: 700px;
    background-color: #f2f2f2;
    float: left;
}

.searches ul li {
    display: inline-block;
    width: 300px;
    font-size: 15px;;
    padding: 10px;
    cursor: pointer;
}

.searches ul li p {
    width: 200px;
}
.searches ul li:hover {
    background-color: white;

}

.searches .recent-search1 {
    font-size: 20px;
    background-color:#34c1da ;
    height: 30px;
    color: #ffffff;
    padding: 10px;
    

}


.title-background {
    width: 300px;
}

.searches .recent-search2 {
    font-size: 20px;
    background-color:#34c1da ;
    height: 30px;
    color: #ffffff;
    padding: 10px;
    

}

.entries {
    float: right;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-right: 50px;
}

.entries h1 {
    font-size: x-large;
}

.all-entries {
    background-color: #f2f2f2;
    width: 370px;
    text-align: center;
    padding-top: 8px;
}

.entries-subscribed {
    text-align: center;
    width: 370px;
    background-color: #f2f2f2;
    padding-top: 8px;
}

.all-members {
    background-image: url('../images/tab-bg-active.png');
    padding: 5px;
    width: 100px;

}

.friends {
    background-image: url('../images/tab-bg.png');
    padding: 5px;
    width: 100px;
}

.new-entries {
    background-image: url('../images/tab-bg.png');
    padding: 5px;
    width: 100px;
}

.new-comments {
    background-image: url('../images/tab-bg.png');
    width: 100px;
    padding: 5px;
    text-align: left;

}

.timeline {
    margin-top: 10px;
}

.entries-list {
    margin-top: 15px;
}

.avatar {
    width: 100px;
}
.avatar img {
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

.info {
    margin-left: 150px;
    margin-top: -85px;
}

.entries-break {
    margin-top: 45px;
}

.video-tutorials {
    float: right;
    width: 300px;
    height: 700px;
    background-color: #f2f2f2;

}

.video-tutorials .video-tutorial-title {
    font-size: 20px;
    background-color:#34c1da ;
    height: 30px;
    color: #ffffff;
    padding: 10px;
   

}


.video-tutorials ul li {
    width: 270px;
    padding: 15px;
    cursor: pointer;
}


.video-tutorials ul li:hover {
    background-color: #ffffff;
}

.fa {
    margin-left: 265px;
}

.title {
    font-weight: bold;
}

.author {
    color: #1fd3f3;
}

.topic-box {
    color: #1fd3f3;
}

.subscribed {
    color: green;
}

.new-action {
    color: #1fd3f3;
    font-weight: bold;
}

.title-danger {
    color: red;
    font-weight: bold;
}

i {
    opacity: 0.5;
}