
.info {
	margin-left: 45%;
	padding: 0px;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	border: 1px solid ;
}

.card h1 {
	text-align: center;
}



.info img {
	width: 200px;
	height: 150px;
}

.info img, h1, p {
	margin: 0;
}

main {
	margin-left: 50px;
	margin-right: 50px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}


th, td {
	padding: 15px;
}

th {
	background-color: black;
	color: white;
	text-align: left;

}

table {
	border-spacing: 5px;
	margin-bottom: 20px;
}

caption {
	font-size: 20px;
}

a:hover {
	background-color: #000;
	color: #fff;
	padding: 5px 2px ;
}

.ninja {
	position: absolute;
	top: 39px;
	left: 466px;
}

.fa-html5 {
	color: rgb(170, 114, 9);
}

.fa-css3 {
	color: rgb(10, 158, 226);
}


.assignment-table {
	margin: 20px;


}