canvas {
	border: 1px solid black;
	display: block;
	margin: 0 auto;
	background-color: #6d9421;
}

#source2 {
	display: none;
}

#play {
	position: absolute;
    left: 400px;
    top: 250px;
    padding: 15px;
    background-color: darkgreen;
    color: #fff;
}