canvas {
	display: block;
	margin: 0 auto;
	background-image: #6d9421;
}

body {
	background-color: rgb(7, 80, 7);
}

#source2 {
	display: none;
}

#play {
	position: absolute;
    left: 400px;
    top: 250px;
    padding: 15px;
    background-color: darkgreen;
    color: #fff;
}