/* CSS for Header Section Mobile*/

header {
    background-color: rgb(31, 34, 44);
}


.search-box {
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
}

.right-nav-header {
    position: relative;
}

.left-nav-header a {
    display: inline-block;
    margin-top: 15px;
}

.logo {
    width: 100%;
}

#mobile-nav-list{
    display: none;
    position: fixed;
    height: 100vh;
    background-color: #2c3e50;
    opacity: 0.6;
    top: 108px;
    width: 100%;
    left: 0;
    text-align: center;

}

#mobile-nav-list ul li {
    padding: 10px;
}

#mobile-nav-list ul li a {
    color: #ffffff;
    text-decoration: none;
}



#tab-lap-nav-list ul li {
    display: none;
}


.search-field {
    height: 25px;
    color: #cccccc;
    background-color: #1f232c;
    width: 95%;
    border-radius: 40px;
    border-color: transparent;
    padding-left: 10px;

}

.fa-search {
    position: absolute;
    top: 5px;
    color: #ffffff;
    right: 10px;
}

.left-nav-header {
    position: relative;
}

.menu-icon {
    float: right;
    margin-top: 16px;
    margin-right: 12px;
    color: #ffffff;
}

.menu-icon {
    background-color:  rgb(31, 34, 44);
    border: none;
}

@media only screen and (min-width: 768px){

    /* Header CSS for Tablet devices */
    .container {
        width: 100%;
    }

    #mobile-nav-list {
        display: none;
    }


    .right-nav-header {
        float: right;

    }

    .left-nav-header {
        float: left;
        padding-left: 10px;
    }

    .left-nav-header a {
        margin-bottom: 20px;
        margin-top: 50px;

    }

    .fa-search {
        position: absolute;
        top: 35px;
        color: #ffffff;
        right: 25px;
    }


    #tab-lap-nav-list ul li {
        display: inline-block;
        text-align: right;
        padding-top: 20px;
    }

    .search-field {
        margin-top: 30px;
        margin-right: 10px;
        height: 25px;
        color: #cccccc;
        background-color: #1f232c;
        width: 210px;
        border-radius: 40px;
        border-color: transparent;
    }

    .search-box {
        text-align: right;
    }

    .nav-list ul li a {
        text-decoration: none;
        color: #ffffff;
        padding: 0 8px;
        font-size: 13px;
    }

    #tab-lap-nav-list ul li a:hover {
        background-color: #fff;
        color: #000;
        transition: 500ms ease-in;
    }

    .logo {
        width: 100%;
    }

    .menu-icon {
        display: none;
    }

    /* End of Header CSS for Tablet */
    
}

@media only screen and (min-width:938px){

    /* Start of Header Section for Desktop */

    .container {
        max-width: 980px;
        padding: 0 20px;
    }

    .left-nav-header {
        float: left;
    }

    .left-nav-header a {
        padding-bottom: 40px;
        margin-top: 50px;
    }
    
    .right-nav-header {
        float: right;
        position: relative;
    }

    .fa-search {
        position: absolute;
        top: 35px;
        color: #ffffff;
        right: 25px;
    }

    .search-box {
        text-align: right;
        margin-right: 10px;
    }

    #tab-lap-nav-list ul li {
        display: inline-block;
        text-align: right;
        padding-top: 0px;
    }

    

    #tab-lap-nav-list ul li a {
        text-decoration: none;
        color: #ffffff;
        padding: 10px 10px;
        font-size: 13px;
        
    }

    .search-field {
        height: 25px;
        color: #cccccc;
        background-color: #1f232c;
        width: 210px;
        border-radius: 40px;
        border-color: transparent;
    }

    .fa-bars {
        display: none;
    }

    #mobile-nav-list {
        display: none;
    }

    #tab-lap-nav-list ul li {
        display: inline-block;
        text-align: right;
        margin-top: 26px;
    }

    .logo {
        width: 100%;
    }

    .left-nav-header a {
        padding-left: 0px;
    }

    /* End of Header Section for Desktop */
    
}

