/* Main Section CSS */

.img-content {
    height: 212px;
    width: 100%;
    overflow: hidden;
}

@keyframes slide{
    0%{
        left: 0;
    }

    10%{
        left: 0;
    }

    20%{

        left: -100%;
    }

    30% {
        left: -100%;
    }


    40% {
        left: -200%;
    }

    50% {
        left: -200%;
    }

    60% {
        left: -200%;
    }

    70%{
         left: -300%;
    }

    80% {
        left: 0;
    }

}

.img-content figure img {
    float: left;
    width: 25%;

}

.img-content figure {
    position: relative;
    width: 400%;
    animation: slide 8s infinite;
    animation-direction: alternate-reverse;

}


.contact-info {
    height: 160px;
    background-color: #e7e7e7;
}

.contact-text {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;

}

.contact-btn {
    padding-top: 20px;
    padding-left: 65px;
}

.contact-btn .btn {
    background-color: #1f232c;
    border-radius: 15px;
    border: transparent;
    width: 200px;
    color: #fff;
    height: 36px;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 14px 15px 14px;
}

.contact-text p {
    text-align: justify;
}

.contact-separator {
    height: 5px;
    background-color: #dadada;
}

/* End of Main CSS */

/* Start of Service CSS */

.service-section {
    padding: 20px 0;
}

.service-content {
    display: inline-block;
    margin-top: -15px;
}

.service {
    width: 100%;
    padding: 15px 0px;
}

.service-image {
    width: 25%;
    float: left;
}

.service-image img {
    width: 100%;
}

.service-info {
    width: 68%;
    float: right;
    padding: 0 10px;
    font-size: 12px;
}

.service-info p {
    text-align: justify;
}

.service-underline {
    margin: 5px 0;
    width: 78px;
    height: 2px;
    background-color: #000;
}

.service-title {
    padding-left: 10px;
}

/* END of Service CSS*/

/* Separator */


.left-separator, .right-separator {
    height: 2px;
    background-color: #000;
}


.separator .left-separator {
    display: inline-block;
    width: 26%;

}

.separator .right-separator {
    display: inline-block;
    width: 26%;

}

/* End Separator*/

/* CSS for Card */

.card {
    margin-top: 20px;
}

.card-detail {
    width: 100%;
    padding: 20px 0;
}

.card-detail img {
    width: 100%;
    vertical-align: middle;
}

figcaption {
    background-color: #eeeeee;
    line-height: 30px;
}

figcaption p {
    color: #979797;
}

.card-detail figure figcaption {
    text-align: center;
}

.row2 .card-detail {
    display: none;
}

.card {
    padding: 0 20px;
}

.view-all-btn {
    padding: 10px;
    margin-left: 42%;
    background-color: #400fc5;
    color: #fff;
    border: transparent;
    border-radius: 30px;
}

/* End of CSS for Card*/




@media only screen and (min-width: 768px){

    .img-content {
        height: 343px;
    }

    /* Start of Main CSS for Tablet */

    .contact-info {
        height: 120px;
        padding-top: 40px;
    }

    .contact-text {
        float: left;
        width: 65%;
        font-size: 25px;
        padding-top: 10px;
    }

    .contact-btn {
        padding-right: 10px;
        padding-left: 15px;
        float: right;
    }

    .contact-btn .btn {
        width: 200px;
        height: 40px;
        font-size: 18px;
        padding: 15px 14px 15px 14px;
    }

    /* End of Main CSS for Tablet*/

    /* Start of CSS for Service Section */

    .service-content {
        margin-top: 0px;
    }

    .service {
        width: 100%;
    }

    .service1 {
        float: left;
        width: 50%;
    }

    .service2 {
        float: right;
        width: 50%;
    }

    .service-info {
        width: 65%;
    }

    .service-title {
        display: none;
    }

    /* End of CSS for Service Section*/

    /* CSS for separator */

    .separator .left-separator {
        width: 40%;
    }

    .separator .right-separator {
        width: 40%;
    }

    /* end of css for separator*/

    /* start of css for card */

    .row2 .card-detail{
        display: block;
    }

    .card-detail {
        display: block;
        float: left;
        width: 45%;
        padding: 10px 10px;
    }

    .lap-card, .view-all-btn  {
        display: none;
    }

    /* end of css for card */

    

}

@media only screen and (min-width:938px){

    /* Start of Main Section for Desktop*/

    .img-content {
        height: 550px;
        width: 980px;
    }

    .img-content img {
        height: 100%;
    }
    .contact-text {
        width: 64%;
        font-size: 31px;
        padding: 0 20px;
    }

    .contact-btn .btn {
        width: 280px;
        height: 57px;
        padding: 22px 20px 22px 20px;
    }

    .contact-btn .btn:hover {
        background-color: #fff;
        color: #000;

    }

    .contact-btn {
        padding-right: 20px;
        padding-left: 10px;
        float: right;
    }

    

    /* End of Main Section for Desktop*/

    /* start of service section for Desktop */

    .service-content {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .service {
        width: 100%;
    }

    .service1 {
        float: left;
        width: 66.67%;
    }

    .service1 .serv1 {
        float: left;
        width: 50%;
    }

    .service1 .serv2 {
        float: right;
        width: 50%;
    }

    .service-image {
        width: 40%;
        height: 100px;
    }

    .service-image img {
        height: 100px;
        width: 100%;
    }

    .service2 {
        float: right;
        width: 33.33%;
    }

    .service-info {
        width: 58%;
        padding: 0;
    }

    .service-info .service-heading {
        text-align: left;
    }

    .service-detail {
        font-size: 13px;
    }

    .service-heading {
        font-size: 20px;
    }


    .service-info .service-detail {
        font-size: 13px;
        color: #979797;
    }

    .service-section {
        padding: 20px 20px;
    }

    /* end of service section for desktop*/

    /* start of css for card */

    .card {
        width: 100%;
        padding: 0;
        padding-top: 47px;
        padding-bottom: 80px;
    }

    .separator .right-separator {
        width: 39%;
    }

    .separator .left-separator {
        margin-left: 10px;
        width: 39%;
    }

    .row1 {
        width: 100%;
    }

    .row2 .card-detail{
        display: block;
    }

    .lap-card {
        display: block;
    }

    .row1 .card-detail {
        display: block;
        float: left;
        width: 30.33%;
        padding: 10px 10px;
        margin-right: 9px;
    }

    .row2 .card-detail {
        display: block;
        float: left;
        width: 30.33%;
        padding: 10px 10px;
        margin-right: 9px;

    }

    .view-all-btn  {
        display: none;
    }

    .separator-text {
        font-size: 20px;
    }

    /* end of css for card */

    

}