
.transition-input {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

.transition-input button {
    margin-top: 20px;
}

.slide-change {
    position: absolute;
    padding: 10px;
}

#next1, #next2 {
    position: absolute;
    top: 112px;
    right: 0;
}

#previous1, #previous2 {
    top: 112px;
}


.activePointer, .activePointer2{
    position: absolute;
    border-color: #000;
    left: 160px;
}

.first {
    display: none;
}


.caption {
    color: #000;
    position: absolute;
    top: 200px;
    text-align: center;
    line-height: 0px;
}

.caption p {
    margin-left: 25px;
}

.submit-btn {
    background-color: #000;
    color: #fff;
    padding: 5px;
}

#info, #info2 {
    color: red;
}

@media only screen and (min-width: 768px){


    .activePointer{
        left: 350px;
    }

    #next1, #next2 {
        top: 250px;
        left: 670px; 
    }

    #previous1, #previous2 {
        top: 250px;
    }

}


@media only screen and (min-width: 962px){

    .activePointer{
        left: 350px;
    }

    #next1, #next2 {
        top: 250px;
        left: 768px; 
    }

    #previous1, #previous2 {
        top: 250px;
    }

}

