

main {
	margin: auto;
}

.card {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

	
}

.card .prof-img {
	border-radius: 100%;
	width: 75%;
	height: 22vh;
	margin-left: auto;
	margin-right: auto;


}


.actionBtn {
	margin-top: 20px ;
	text-align: center;

}

#githubDetail {
	width: 50rem;
	display: none;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
}

#reposList {
	display: none;
}

#gitCloneUrl {
	color: red;
}

#gitCloneUrl:hover {
	text-decoration: none;
}


.loader {
  border-top: 10px solid blue;
  border-right: 10px solid green;
  border-bottom: 10px solid red;
  border-left: 10px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}