.searches {
    display: none;
}

.entries {
    padding: 10px 15px;
    width: 100%;
}


.entries ul {
    width: 100%;
}

.entries h2 {
    font-size: 20px !important;
    padding-bottom: 10px;
}

.entries ul li {
    display: inline-block;
    width: 100%;
}

.all-members p {
    color: #fff;
}


.all-entries img, .subscribed img {
    width: 100%;
}
.all-entries, .subscribed {
    position: relative;

}

.all-entries p, .subscribed p {
    position: absolute;
    top: 11px;
    right: 120px;
    font-size: 15px;
}

.all-members img, .new-entries img {
    position: absolute;
    width: 45%;
    top: 42px;
    margin-left: 6px;
}

.friends img, .new-comments img {
    position: absolute;
    width: 45%;
    top: 42px;
    right: 10px;
}

.all-members p, .new-entries p {
    position: absolute;
    top: 52px;
    left: 40px;
    font-size: 15px;
    width: 100%;

}

.friends p {
    position: absolute;
    top: 50px;
    right: 55px;
    font-size: 15px;

}

.new-comments p {
    position: absolute;
    top: 52px;
    right: 25px;
    font-size: 15px;
}

.entries-lists {
    padding: 15px;

}

.entries-list {
    width: 100%;
}

.entries-list .avatar {
    float: left;
    width: 16%;
}



.avatar img {
    width: 100%;
}

.entries-list .info {
    float: right;
    font-size: 40px;
    width: 75%;
    padding-bottom: 20px;

}




.entries-break {
    margin-bottom: 10px;
    width: 100%;
    height: 1px;
    background-color: #000;
}


.video-tutorials {
    font-size: 25px;
    padding: 15px;
    width: 100%;
}

.video-tutorials h3 {
    background-color: #88e2f2;
    padding: 20px;

}

.video-tutorials ul {
    background-color: #f5f5f5;
    overflow: hidden;
}

.video-tutorials ul li {
    padding: 15px;
}



* {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.title {
    
    font-weight: bold;
    font-size: 14px;
}

.author {
    color: #1ac5e4;
}

.subscribed-status {
    color: green;
}

.new-action, .topic-box {
    color: #1ac5e4;
    font-weight: bold;
}

.title-danger {
    color: red;
    font-weight: bold;
}

@media only screen and (min-width: 732px){

    .all-members p, .new-entries p {
        
        top: 32px;
        left: 12px;
        font-size: 12px;
        
    }

    .line {
        margin-top: -18px;
        height: 2px;
        background-color: #1ac5e4;
    }

    .friends img, .new-comments img, .all-members img, .new-entries img {
        top: 28px;
    }

    .all-entries p, .subscribed p {
        font-size: 13px;
        right: 80px;
    }

    .friends p {
        top: 32px;
        font-size: 12px;
        right: 34px;
    }

    .new-comments p {
        top: 32px;
        font-size: 12px;
        right: 13px;
    }

    .entries ul li {
        width: 49%;
    }

    .entries {
        width: 55%;
        float:left;
    }

    .video-tutorials {
        width: 37%;
        float: right;
        margin-top: 10px;
    }

    .video-tutorials ul {

    background-color: #f2f2f2;
    height: 500px;


    }




}



@media only screen and (min-width:968px){


    .searches-entries {
        float: left;
        width: 80%;
    }
    
    .searches {
        display: block;
        float: left;
        width: 30%;
    }
    
    .entries {
        float: right;
        width: 64.5%;
        padding: 0 20px;
    }
    
    .entries h2 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    
    .entries ul li {
        display: inline-block;
        width: 49%;
        padding: 0;
    }
    
    .entries ul li img {
        width: 240px;
    }
    
    .all-entries, .subscribed {
        position: relative;
    }
    
    .all-entries p , .subscribed p {
        position: absolute;
        top: 10px;
        left: 70px;
        right: 0;
        font-size: small;

    }
    
    .all-members p, .new-entries p {
        position: absolute;
        top: 40px;
        left: 34px;
        font-size: 12px;
    }
    
    .new-comments p {
        position: absolute;
        top: 40px;
        left: 131px;
        font-size: 12px;
    
    }
    
    .friends p {
        position: absolute;
        top: 40px;
        left: 145px;
        font-size: 12px;
    }
    
    .all-entries ul li img, .subscribed ul li img {
        width: 100px;
        padding-left: 18px;
    }
    
    .all-members img, .new-entries img {
        position: absolute;
        top: 36px;
        margin-left: 0;
    }
    
    .friends img, .new-comments img {
        position: absolute;
        top: 36px;
        left: 105px;
    }
    
    
    
    .searches h3, .video-tutorials h3 {
        background-color: #88e2f2;
        padding: 15px;
    }
    
    .searches ul, .video-tutorials ul  {
        background-color: #f5f5f5;
        overflow: hidden;
    
    }
    
    .searches ul li, .video-tutorials ul li {
        display: block;
        padding: 10px;
    }
    
    .searches .recent-searches2 ul {
        height: 510px;
    }
    
    .searches ul li:hover, .video-tutorials ul li:hover {
        background-color: #fff;
        cursor: pointer;
    }
    
    .searches ul li span {
        float: right;
        
    }
    
    .video-tutorials {
        float: right;
        width: 20%;
        padding: 0;
    }
    
    .video-tutorials ul {
        height: 625px;
    }
    
    
    .line {
        background-color: #88e2f2;
        height: 3px;
        border: transparent;
        margin-top: -16px;
    }
    
    .entries-lists {
        padding: 0;
        padding-top: 10px;
    }
    
    .entries-list {
        padding: 18px 0;
    }
    
    .entries-list .avatar {
        float: left;
        width: 16%;
        padding-bottom: 0;
    }

    .entries-list .info {
        float: right;
        font-size: 0;
        width: 82%;
        padding-bottom: 0;
    }
    
    .avatar img {
        width: 100%;
    }
    
    .info {
        float: right;
        width: 82%;
    }

    .entries-break {
        margin-bottom: 0;
        padding-bottom: 0px;
        height: 0;
        
    }
    
    .entries-break {
        
        margin-top: 75px;
    }
    
    .info {
        font-size: 13px;
        
    }
    
    .sub-info {
        padding-top: 10px;
    }
    
    
}