.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.carousel-container {
    width: 400px;
    height: 250px;
    margin: 300px auto;
    overflow: hidden;
    position: relative;

}


.carousel-image-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2000px;
}

.slide {
    width: 400px;
    float: left;
    position: relative;
}

.slide img{
    width: 100%;
    opacity: 0.5;
}

button {
    position: absolute;
    padding: 10px;
}

#next {
    position: absolute;
    top: 112px;
    left: 375px;
}

#previous {
    top: 112px;
}


.activePointer{
    position: absolute;
    border-color: #000;
    left: 160px;
}

.first {
    display: none;
}


.caption {
    color: #000;
    position: absolute;
    top: 200px;
    text-align: center;
    line-height: 0px;
}

.caption p {
    margin-left: 25px;
}

